body{

    background-color:#e2e8f0;
}

ul{
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    

}


/*
.main-content{
    border: 1px solid black;
    border-radius: 6px;
}*/

.sidebar{
    grid-row: 1/span 2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 60px 200px 100px;
    row-gap: 20px;
    background-color: #0ea5e9;
    color: #ffffff;

}

div.dashboard svg{
    fill: #ffffff;
}
div.navigation svg{
    fill: #ffffff;
}

div.branding svg{
   
    fill: #ffffff;
}


.dashboard{
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    padding-right: 60px;
    
}


.dashboard svg,
.dashboard h1{
    align-self: center;
    display:flex;
    justify-content: flex-end;
}

.branding ul,
.navigation ul{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}

.branding li,
.navigation li{
    display: flex;
    gap: 1em;
}
.header{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1em;
    background-color: #ffffff;
}

.header-top,
.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-left,
.top-right{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}


.profile-image-small img{
    align-self:center;
    
}

.profile-details h1{
    margin-top: 0;
}

.bottom-left,
.bottom-right{
    display: flex;
    flex-direction: row;
    gap: 1em;

}

.bottom-left{
    align-content: center;
}


button{
    height: 2em;
    width: 8em;
    align-self: center;
    border-radius: 4em;
    border: none;
    background-color: #0ea5e9;
    color: #ffffff;
}

button:hover{
    background-color: #0e7490
}

input[type="search"]{
    width: 45em;
    border-radius: 4em;
    border: none;
    background-color: #e2e8f0;
}



.main-content{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns:5fr 2fr ;
    grid-template-rows: repeat(2,27.5em); 
    gap: 1rem;
    background-color: #e2e8f0;
    padding:1em;
}

/*.Your-Projects,
.Announcements,
.Trending{
    border: 1px solid yellowgreen;
    border-radius: 6px;

}
*/
.Your-Projects{    
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

.projects-grid{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project-item{
    border-left: 0.5em solid #f59e0b;
    border-radius: 0.5em;
    background-color: #ffffff;
    display :grid;
    grid-template-rows: 2fr 4fr 1fr;
    padding :1.5em;
}

.share-icons{
    justify-self: flex-end;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
    
   gap: 10px;
}
.Announcements{
    grid-column:2/span 1 ;
    grid-row: 1/span 1;
    display: flex;
    flex-direction: column;
    
    
   

}

.announcement-item{
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ffffff
}

.Trending{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    display: flex;
    flex-direction: column;
    
}

.trending-item{
    background-color: #ffffff;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    
}
